@import url('https://fonts.googleapis.com/css2?family=Bitter&family=PT+Serif&display=swap');

* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
  background-color: #fffffc;
}
/*SCROLLBAR*/ 
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e31e24; 
  }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background-color: white;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 50px;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0px;
  display: block;
}

#header .logo img {
    margin-top: -10px;
    padding: 0;
    display: block;
    float: left;
    width: 170px;
    height: 95px;
}

#header .container {
    padding-right: 2%;
    padding-left: 3%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Meu Container */

#nav-menu-container {
    float: right;
    display: block;
    margin-top: 40px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
/* Nav Meu Styling */

.nav-menu a{
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  font-family: 'Bitter', serif;
}

.nav-menu .menu-active,
.nav-menu a:hover {
  color: #e31e24;
  display: block;
}

.nav-menu > li {
  margin-left: 4px;
}
.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #e31e24;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before{
  visibility: visible;
  width: 100%;
}
.nav-menu .dropdown {
  float: left;
  overflow: hidden;
}

.nav-menu .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: white;
  z-index: -1;
}
.nav-menu .dropdown-content a{
  font-size: 14px;
}
.nav-menu .dropdown-content .maintitle{
  padding: 3px;
  text-decoration: none;
  display: block;
  color: #e31e24;
  font-weight: 800;
  font-size: 20px;
  outline: none;
  font-family: 'Bitter', serif;  
}
.nav-menu .dropdown-content {
  font-family: 'Bitter', serif;
  padding: 4px;
  display: none;
  margin-left: -50px;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  z-index: 1;
}

.nav-menu .dropdown:hover .dropdown-content {
  display: block;
}
.men{
  display: none;
}
.men .dropdown-content a{
  padding: 15px 15px 15px 33px;
  font-size: 14px;
}
.men .dropdown-content .maintitle{
  padding: 8px 24px;
  text-decoration: none;
  display: block;
  color: #e31e24;
  font-weight: 800;
  font-size: 20px;
  outline: none;
  font-family: 'Bitter', serif;  
}
@media screen and (max-width: 800px) {
    .nshow{
      display: none;
    }
    .sidepanel  {
      background-color: white;
      width: 0;
      position: fixed;
      z-index: 1;
      height: 100%;
      top: 0;
      right: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidepanel a:hover {
        border-bottom: 3px solid #e31e24;
    }
    .sidepanel .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 20px;
    }
    .openbtn,.closebtn {
        background: #e31e24;
        color: #dcdcdc;
        font-size: 20px;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
    .openbtn:hover,.closebtn:hover {
        background:#dcdcdc;
        color: #e31e24;
    }

    .men{
        float: right;
        padding: 10px 5px 10px 10px;
        display: block;
    }
    .men a{
      padding: 15px;
      text-decoration: none;
      display: block;
      color: #000000;
      font-weight: 600;
      font-size: 18px;
      outline: none;
      font-family: 'Bitter', serif;
    }

  .men .menu-active,
  .men a:hover {
        color: #e31e24;
    }
}
/*--------------------------------------------------------------
# Navigation Menu End
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
.slideshow-container {
  margin-top: 150px;
  width: 100%;
  position: relative;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 16px;
  color: #000000;
  background-color: #dcdcdc;
  border: 2px solid #dcdcdc;
  font-size: 18px;
  font-weight: 800;
  transition: 0.6s ease;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #e31e24;
  background-color: #ffffff;
  border: 2px solid #e31e24;
}
.pagetitlebg img {
    margin-top: 150px;
    overflow: visible;
    width: 100%;
    height: 200px;
}
.pagetitlebg {
    position: relative;
    text-align: left;
}
.pagetitlebg .centered{
    margin-top: 70px;
    position:absolute ;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color:#e31e24 ;
    background-color: white;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 10px 30px 10px;
}
.homecontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  font-weight: 400;
}
.homecontainer .parag{
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  padding-left: 4%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;   
}
.homecontainer .parag .title{
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  width: 100%;
  line-height: 40px;
  text-align: left;
  font-weight: 600;
  padding-bottom: 30px;
}
.homecontainer .image{
  width: 50%;
  align-self: center;
  padding-left: 5%;
}
.homecontainer .image img{
  padding: 2%;
  width: 100%;
}
.homeexpertise{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  color: #000000;
  text-align: left;
}
.homeexpertise .title{
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 50px;
  width: 100%;
  padding-right: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}
.homeexpertise .linestart{
  width: 25px;
  margin-left: 10px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.homeexpertise .lineend{
  width: 215px;
  margin-left: 265px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.homeexpertise .parag{
  text-align: justify;
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400; 
}
.ourbusiness{
  padding: 0 2% 2%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
.ourbusiness .column {
  float: left;
  width: 25%;
  padding: 5px;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.ourbusiness .column .images{
  width:100%;
  display: block;
  transition: transform .4s;
}
.ourbusiness .column .images:hover{
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.ourbusiness .parag {
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400; 
  width: 96%;
  padding: 20px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.markets{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px 40px;
  color: #000000;
  text-align: left;
}
.markets .title{
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 50px;
  width: 100%;
  padding-right: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}
.markets .linestart{
  width: 25px;
  margin-left: 10px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.markets .lineend{
  width: 295px;
  margin-left: 185px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.marketcont .card {
  margin: 20px;
  width: 40%;
  justify-content: center;
  display: flex;
  text-align: center;
  position: relative;
}
.marketcont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.marketcont .image1 {
  position: relative;
  overflow: visible;
  display: block;
  width: 100%;
  border-radius: 15px;
}
.marketcont .centeredtitle {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}
.marketcont .centeredtitle span{
  font-size: 24px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .marketcont  .card {
      width: 47%;
      margin:10px;
  }
}
@media screen and (max-width: 750px) {
  .marketcont  .card {
      width: 90%;
      margin:15px;
  }
}
@media screen and (max-width: 930px){
  .homecontainer{
    flex-direction: column;
    align-items: center;
  }
  .homecontainer .image{
    display: flex;
    justify-content: center;
    padding-left: 0;
    width: 100%;
    padding-top: 20px;
  }
  .homecontainer .parag{
    font-size: 15px; 
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
  }
  .homecontainer .parag .title{
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (max-width: 800px){
  .prev, .next {
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .ourbusiness .column {
    width: 50%;
  }
  .homeexpertise .title{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 0;
  }
  .ourbusiness .title{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 0;    
  }
  .homeexpertise .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
  .homeexpertise .linestart{
    margin-left: -15px;
    margin-top: 14px;
    height: 40px;
  }
  .homeexpertise .lineend{
    width: 135px;
    margin-left: 180px;
    margin-top: 14px;
    height: 40px; 
  }
  .markets .title{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 0;
  }
  .markets .linestart{
    width: 25px;
    margin-left: -15px;
    margin-top: 14px;
    height: 40px;
  }
  .markets .lineend{
    width: 195px;
    margin-left: 120px;
    margin-top: 14px;
    height: 40px;
  }
  .ourbusiness .parag {
    padding-left: 0;
    padding-right: 0;
  }
  .pagetitlebg .centered{
    left: 50%;
    text-align: center;
    font-size: 18px;
  }
  .homecontainer .objectimage{
    height: 400px;
  }
}
/*--------------------------------------------------------------
# Home end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# process capabilities start
--------------------------------------------------------------*/
.processcont {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 10px;
  color: #000000;
  text-align: justify;
}
.processcont .title{
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 50px;
  width: 100%;
  padding-right: 20px;
  font-weight:  600;
  padding-bottom: 30px;
  text-align: left;
}
.processcont .linestart{
  width: 25px;
  margin-left: 10px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.processcont .lineend{
  width: 205px;
  margin-left: 275px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.processcont .subtitle,.headingflow .subtitle{
  font-size: 24px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 50px;
  width: 100%;
  padding-right: 50px;
  font-weight:  600;
  padding-bottom: 30px;
  text-align: left;
}
.processcont .subsubtitle,.processflow .subsubtitle{
  font-size: 24px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 90px;
  width: 100%;
  padding-right: 90px;
  font-weight:  600;
  padding-bottom: 30px;
  text-align: left;
}
.processcont .flowchart{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
.processcont .flowchart .flow1,
.processcont .flowchart .flow2,
.processcont .flowchart .flow3,
.processcont .flowchart .flow4,
.processcont .flowchart .flow5,
.processcont .flowchart .flow6,
.processcont .flowchart .flow7{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-bottom: 25px;
}
.processcont .flowchart i{
  position: absolute;
  color: #e31e24;
  margin-top: 15px;
  margin-left: -5.5px;
}
.processcont .flowchart .linestartflow{
  height: 24px;
  width: 3px;
  margin-top: -81px;
  position: absolute;
  background-color: #e31e24;
}
.processcont .flowchart span{
  padding: 10px 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 55px;
  align-content: center;
  text-align: center;
  background-color: #dcdcdc;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #e31e24;
}
.processflow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0 30px;
  color: #000000;
  text-align: justify;
}
.processflow .parag{
  padding-left: 90px;
  width: 100%;
  padding-right: 90px;
  font-size: 16px;
  font-weight: 400; 
}
.processflow i{
  font-size: 12px;
  margin-right: 10px;
  color: #e31e24;
}
.processflow .heading{
  font-size: 18px;
  font-weight: 600;
}
.processflow .points{
  padding-left: 120px;
  padding-right: 120px;
}
.headingflow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0 30px;
  color: #000000;
  text-align: justify;
}
.headingflow .parag{
  padding-left:50px;
  width: 100%;
  padding-right:50px;
  font-size: 16px;
  font-weight: 400; 
}
@media screen and (max-width: 800px){
  .processcont .title{
    padding-left: 20px;
    padding-right: 0;
    font-size: 24px;
  }
  .processcont .linestart{
    margin-left: -15px;
    margin-top: 14px;
    height: 40px;
  }
  .processcont .lineend{
    width: 115px;
    margin-left: 200px;
    margin-top: 14px;
    height: 40px; 
  }
  .processcont .flowchart {
    padding-left: 60px;
  }
  .processcont .flowchart .linestartflow{
    margin-top: -72px;
  }
  .processcont .flowchart span{
    font-size: 16px;
    width: 220px;
    height: 45px;
  }
  .processflow .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
  .processcont .subtitle,.headingflow .subtitle{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .processcont .subsubtitle,.processflow .subsubtitle{
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .processflow .parag{
    padding-left: 40px;
    padding-right: 0px;
    font-size: 15px;
  }
  .processflow .heading{
    font-size: 16px;
  }
  .processflow .points{
    padding-left: 60px;
    padding-right: 0px;
  }
  .headingflow .parag{
    padding-left:20px;
    padding-right:20px;
    font-size: 15px; 
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# product page
--------------------------------------------------------------*/
.containermain .card {
  box-shadow: 0px 3px 6px #dcdcdc;
  border-radius: 15px;
  border: 2px solid #dcdcdc;
  background-color: #ffffff;
  margin: 20px;
  width: 28%;
  text-align: left;
  color: #000000;
  padding: 20px;
  padding-left: 30px;
  height: 370px;
  position: relative;
}
.containermain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.containermainsub{
    padding-bottom: 40px;
}
.containermain .card:hover {
  box-shadow: 0 8px 16px 0 rgba(44, 43, 43, 0.911);
}

.containermain .maintitle{
  font-size: 30px;
  text-align: left;
  padding-left: 90px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  width: 100%;
  font-weight: 600;
  padding-bottom: 30px;
}
.containermain .linestart{
  width: 25px;
  left: 40px;
  margin-left: 10px;
  margin-top: 18px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.containermain .lineend{
  width: 110px;
  margin-left: 370px;
  margin-top: 18px;
  height: 40px;
  left: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.containermain .lineend1{
  width: 65px;
  margin-left: 415px;
  margin-top: 18px;
  height: 40px;
  left: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.containermain .card .title{
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Bitter', serif;
  width: 100%;
  height: 55px;
  font-size: 24px;
  font-weight: 600;
  color: #e31e24;
}
.containermain .card .productcontent{
  height: 170px;
  width: 100%;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.containermain .card .rmcont{
  padding-top: 25px;
}
.containermain .card .rmcont a{
  padding:  5px;
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  background-color: #dcdcdc;
  border: 2px solid #dcdcdc;
}
.containermain .card .rmcont a:hover{
  background-color: #ffffff;
  border: 2px solid #e31e24;
  color: #e31e24;
}
@media screen and (max-width: 1200px) {
  .containermain  .card {
      height: 480px;
      margin:10px;
  }
  .containermain .card .title{
    height: 70px;
    font-size: 20px;
  }
  .containermain .card .productcontent{
    height: 260px;
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .containermain .maintitle{
    font-size: 22px;
    padding-left: 60px;
  }
  .containermain .linestart{
    margin-left: -15px;
    margin-top: 14px;
    height: 40px;
  }
  .containermain .lineend{
    width: 60px;
    margin-left: 255px;
    margin-top: 14px;
    height: 40px; 
  }
  .containermain .lineend1{
    width: 25px;
    margin-left: 290px;
    margin-top: 14px;
    height: 40px; 
  }
  .containermain  .card {
      width: 85%;
      height: 300px;
      margin:10px;
  }
  .containermain .card .rmcont{
    padding-top: 65px;
  }
  .containermain .card .title{
    height: 35px;
    font-size: 18px;
  }
  .containermain .card .productcontent{
    height: 80px;
  }
  .containermain .card .rmcont a{
    font-size: 15px;
  }
}
/*--------------------------------------------------------------
# product end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# about us start
--------------------------------------------------------------*/
.aboutusabout{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  color: #000000;
  text-align: justify;
}
.aboutusabout .title{
  margin-top: -50px;
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 50px;
  width: 100%;
  padding-right: 20px;
  font-weight:  600;
  padding-bottom: 30px;
  text-align: left;
}
.aboutusabout .linestart{
  width: 25px;
  margin-left: 10px;
  margin-top: -32px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.aboutusabout .lineend{
  width: 133px;
  margin-left: 347px;
  margin-top: -32px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.aboutusabout .linestart1{
  width: 25px;
  margin-left: 10px;
  margin-top: -32px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;
  border-left: 2px solid #e31e24;
}
.aboutusabout .lineend1{
  width: 265px;
  margin-left: 215px;
  margin-top: -32px;
  height: 40px;
  position: absolute;
  border-top: 2px solid #e31e24;  
}
.aboutusabout .parag{
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400; 
}
@media screen and (max-width: 800px){
  .aboutusabout .title{
    padding-left: 20px;
    padding-right: 0;
    font-size: 24px;
  }
  .aboutusabout .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
  .aboutusabout .linestart{
    margin-left: -15px;
    margin-top: -36px;
    height: 40px;
  }
  .aboutusabout .lineend{
    width: 65px;
    margin-left: 250px;
    margin-top: -36px;
    height: 40px; 
  }

  .aboutusabout .linestart1{
    margin-left: -15px;
    margin-top: -36px;
    height: 40px;
  }
  .aboutusabout .lineend1{
    width: 165px;
    margin-left: 150px;
    margin-top: -36px;
    height: 40px; 
  }
}
/*--------------------------------------------------------------
# about us end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# contact us start
--------------------------------------------------------------*/
.contactuscontainer{
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}
.contactuscontainer .contactform{
  font-family: 'Bitter', serif;
  width: 45%;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.contactuscontainer .contactform input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactuscontainer .contactform .contactsubmit {
  background-color: #dcdcdc;
  color: #000000;
  font-size: 16px;
  padding: 15px;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  cursor: pointer;
}

.contactuscontainer .contactform .contactsubmit:hover {
  background-color: #ffffff;
  color: #e31e24;
  border: 2px solid #e31e24;
}
.contactuscontainer .contactaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  padding: 20px;
  height: 600px;
}
.contactuscontainer .contactaddress .addcontent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px; 
}
.contactuscontainer .contactaddress i{
  padding-right: 10px;
  color: #e31e24;
}
.mapview{
  padding: 20px;
}
@media screen and (max-width: 930px){
  .contactuscontainer{
    flex-direction: column;
    align-items: center;
  }
  .contactuscontainer .contactform{
    width: 90%;
  }
  .contactuscontainer .contactaddress{
    height: 340px;
    padding: 20px 0px;
    width: 90%;
  }
}

/*--------------------------------------------------------------
# contact us end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.quickheader{
  position: fixed;
  text-align: right;
  z-index: 1;
  height: 50px;
  margin-top: -150px;
  font-size: 16px;
  background-color: #dcdcdc;
  font-weight: 400;
  width: 100%;
  padding: 10px;
}
.quickheaderpages{
  position: fixed;
  text-align: right;
  z-index: 1;
  height: 50px;
  font-size: 16px;
  background-color: #dcdcdc;
  font-weight: 400;
  width: 100%;
  padding: 10px;
} 
.quickheader i{
  margin-right: 20px;
  padding: 5px;
  color: #000000;
  background-color: #dcdcdc;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
}
.quickheader i:hover{
  color: #e31e24;
  background-color: #ffffff;
  border: 2px solid #e31e24;
}
.quickheaderpages i{
  margin-right: 20px;
  padding: 5px;
  color: #000000;
  background-color: #dcdcdc;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
}
.quickheaderpages i:hover{
  color: #e31e24;
  background-color: #ffffff;
  border: 2px solid #e31e24;
}
.quickfooter{
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  background-color: #dcdcdc;
  font-weight: 400;
  padding-bottom: 30px;
  width: 100%;
}
.quickfooter .quickaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 52%;
  padding: 5px;
  height: 300px;
  border-right: 2px solid #e31e24;
}
.quickfooter .quicklink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 46%;
  padding: 5px;
  height: 300px;
}
.quickfooter .quickaddress .contentaddress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px; 
}
.quickfooter .quicklink .contentaddlink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px; 
}
.quickfooter .quicklink .contentaddlink .title{
  font-size: 20px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  width: 100%;
  font-weight: 600;
  padding-bottom: 10px;
}
.quickfooter .quickaddress i{
  padding-right: 10px;
  color: #e31e24;
}
.quickfooter .quicklink a{
  color: #000000;
  padding: 5px;
}
.quickfooter .quicklink .menu-active,
.quickfooter .quicklink a:hover {
  color: #e31e24;
}
.footer{
  height: 40px;
  color: #dcdcdc;
  font-size: 12px;
  background-color: #000000;
  padding: 10px;
  font-weight: 400;
  font-family: 'Bitter', serif;
}
.footer .leftalign{
  float: left;
}
.footer .rightalign{
  float: right;
}
@media screen and (max-width: 800px){
  .quickfooter{
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 15px;
  }
  .quickfooter .quickaddress{
    width: 90%;
    height:230px;
    border-right: none;
    border-bottom: 2px solid #e31e24;
  }
  .quickfooter .quicklink{
    height: 200px;
    width: 90%;
  }
  .footer{
    text-align: center;
    padding: 5px;
  }
  .footer .leftalign,
  .footer .rightalign{
    float: none;
  }
}
/*--------------------------------------------------------------
# footer end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# productpage new start
--------------------------------------------------------------*/
.productpagetitlebg img {
    margin-top: 150px;
    overflow: visible;
    width: 100%;
    height: 200px;
}
.productpagetitlebg {
    position: relative;
    text-align: left;
}
.productpagetitlebg .centered{
    margin-top: 45px;
    position:absolute ;
    top:50%;
    margin-left: 40px;
    margin-right: 40px;
    color:#e31e24 ;
    background-color: white;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 10px 30px 10px;
}
.productpgsplit{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}
.sidebar-content{
  width: 26%;
  min-width: 340px;
  display: block;
}
.sidebar-content .maintitle{
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  display: block;
  color: #e31e24;
  font-weight: 800;
  font-size: 20px;
  outline: none;
  font-family: 'Bitter', serif;  
}
.sidebar-content a{
  padding: 15px;
  font-size: 16px;
  background-color: #dcdcdc;
  margin-bottom: 5px;
  display: block;
  color: #000000;
  border: 2px solid #dcdcdc;
  font-weight: 600;
  outline: none;
  font-family: 'Bitter', serif;
}
.sidebar-content a i{
  float: right;
}

.sidebar-content .menu-active,
.sidebar-content a:hover {
  color: #e31e24;
  border: 2px solid #e31e24;
  background-color: #ffffff;
}
.main-content{
  width: 68%;
  display: block;
}
.productproduct{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  color: #000000;
  text-align: justify;
}
.productproduct .parag{
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400; 
}
.productproduct .title{
  font-size: 30px;
  color: #e31e24;
  font-family: 'Bitter', serif;
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  font-weight:  600;
  padding-bottom: 30px;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid #e31e24;
}

th{
  border: 2px solid #e31e24;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  font-family: 'Bitter', serif;  
}
td {
  border: 2px solid #e31e24;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Bitter', serif;
}
.productproduct i{
  font-size: 12px;
  margin-right: 10px;
  color: #e31e24;
}
.productproduct .points{
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 1000px) {
  .sidebar-content{
    display: none;
  }
  .main-content{
    width: 100%!important;
  }
  .productpgsplit{
    display: block;
    padding: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .main-content{
    width: 63%;
  }
}
@media screen and (max-width: 1100px) {
  .main-content{
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .productpagetitlebg .centered{
    text-align: center;
    font-size: 18px;
  }
  .productproduct .parag{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px; 
  }
  .productproduct .title{
    padding-left: 0px;
    padding-right: 0;
    font-size: 24px;
  }
  th{
    font-size: 16px;
    padding: 4px;
  }
  td {
    font-size: 15px;
    padding: 4px;
  }
  .productproduct .points{
    padding-left: 20px;
    padding-right: 0px;
  }
}